
/**
 * General
 */
.btn {
  border-radius: 0;
  font-size: 20px;
  padding: 9px 23px;
}
button.btn {
  color: #333;
  border-color: #333;
}
button.btn:hover {
  background-color: #3276B1;
  border-color: #285E8E;
  color: #fff;
}

.text-handwritten {
    font-family: 'Pacifico';
    font-size: 3em;
}

.no-margin {
  margin: 0 0 0 0;
}

/*************************
*******Header CSS******
**************************/

.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}
.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.main-nav .container {
  width: 100%
}
.social-icons a {
  font-size: 18px;
  color: #000;
  padding-left:20px;  
}
.social-icons .fa:hover {
  color: #fff
}
.navbar-brand {
  background-color: #1B7B98;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 297px;
}
.navbar-brand img {
  position: absolute;
  top: -35px;
}
.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}
.nav>li>a:hover, .nav>li>a:focus {
  background: none;
}

/*************************
*******Home CSS******
**************************/

#home {
  position: relative;
  overflow: hidden;
}

.links {
  list-style:none;
}

.links li {
  width: 100%;
  padding: 0.5em;
}

.links li img {
  width: 4em;
  height: auto;
  margin: 10px;
  vertical-align: middle;
  display: block;
}

.links li .link-text {
  overflow: hidden;
  margin-left: 5em;
}

.links li h4 {
  font-weight: bold;
}

section.header {
  height: 300px;
}

section.header .col-md-12 {
  padding-top: 200px;
}


/**
 * Footer CSS
 */

#footer {
  background-color: #212121;
  color: #FFFFFF;
  font-size: 20px;
  padding: 35px 0;
  margin-top: 40px;
}

#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#1B7B98
}

/************************************
************ANIMATIONS***************
************************************/

.deku-sprite {
    width: 54px;
    height: 75px;
    margin: auto;
    background-image: url('../images/sprite_test.png');
    
    -webkit-animation: play 3s steps(16) infinite;
       -moz-animation: play 3s steps(16) infinite;
        -ms-animation: play 3s steps(16) infinite;
         -o-animation: play 3s steps(16) infinite;
            animation: play 3s steps(16) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -864px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -864px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -864px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -864px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -864px; }
}
