<!DOCTYPE html>
<html>
<head>
	<title>Deku's journal</title>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Deku's journal of current projects">
  <meta name="author" content="Deku">

	<link rel="stylesheet" href="{{site.baseurl}}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}css/deku-custom.css">
  <link rel="stylesheet" href="{{site.baseurl}}css/font-awesome.css">

	<script src="{{site.baseurl}}js/webtoolkit.md5.js"></script>
  <script src="{{site.baseurl}}js/jquery-1.11.0.min.js"></script>
  <script src="{{site.baseurl}}js/bootstrap.min.js"></script>
  <script src="{{site.baseurl}}js/deku-custom.js"></script>

  <script>
    /* MAINTENANCE */
    //if (QueryString.h == undefined || !MD5(QueryString.h) == "4cc7d72ab005b7f68f81e78ee451c51a") {
    //  window.location.href = "maintenance.html";
    //}
  </script>

</head>
<body>

  <!-- HEADER
  ===================== -->
  <header>
    <!-- NAVBAR -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{site.baseurl}}#">Inicio</a></li>
                <li><a href="{{site.baseurl}}games/">Juegos</a></li>
                <li><a href="{{site.baseurl}}#projects">Proyectos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /NAVBAR -->
    <a id="btn-up">Subir</a>
  </header>


  <!-- CONTENT
  ============================= -->
  <div class="container" role="main" style="padding-top:50px;">

    {{ content }}

  </div>
  

  <!-- FOOTER
  ============================= -->
  <footer>
    <hr class="featurette-divider">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 Deku &middot; <strong>no copy pasterino</strong>
      &middot; <a href="http://creativecommons.org/licenses/by/3.0/">CC Licence 3.0</a>
      &middot; <a href="http://glyphicons.com/">Glyphicons</a>
    </p>
  </footer>

  <script type="text/javascript">

    // GET PARAMETERS FROM URL
    var QueryString = function () {
      // This function is anonymous, is executed immediately and 
      // the return value is assigned to QueryString!
      var query_string = {};
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split("=");
          // If first entry with this name
        if (typeof query_string[pair[0]] === "undefined") {
          query_string[pair[0]] = pair[1];
          // If second entry with this name
        } else if (typeof query_string[pair[0]] === "string") {
          var arr = [ query_string[pair[0]], pair[1] ];
          query_string[pair[0]] = arr;
          // If third or later entry with this name
        } else {
          query_string[pair[0]].push(pair[1]);
        }
      } 
        return query_string;
    } ();

    $(document).ready(function() {
      $(window).scroll(function() {
          if($(this).scrollTop() > 100){
              $('#btn-up').stop().animate({
                  right: '-55px'    
                  }, 500);
          }
          else{
              $('#btn-up').stop().animate({
                 right: '-155px'    
              }, 500);
          }
      });
      $('#btn-up').click(function() {
          $('html, body').stop().animate({
             scrollTop: 0
          }, 500, function() {
             $('#btn-up').stop().animate({
                 right: '-155px'    
             }, 500);
          });
      });
    });
  </script>

</body>
</html>